{% extends "index.html" %}
{% block content %}

<div class="section-top-border">
    <div class="row">
        <form method="POST">
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                  Temp1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Temp2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Temp3
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                <label class="form-check-label" for="flexRadioDefault4">
                  Temp4
                </label>
            </div>    
               

            <input type="date" name="data" class="single-input" required="">
            <input type="time" name="time" class="single-input" required="">
            <input type="number" name="value" placeholder="Value" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Value'" required="" class="single-input">
            <button type="submit" class="genric-btn success circle arrow">Success<span class="lnr lnr-arrow-right"></span></button>
        </form>
    </div>
</div>

{% endblock %}