{% extends "index.html" %}
{% block content %}

<link rel="stylesheer" href="{{ url_for('static', filename='dashboard/dashboard.css') }}">

<label id="datatype_{{ datatype }}"></label>

<div>
    <h1>График</h1>
    <select class="form-select" aria-label="Пример выбора по умолчанию"
        style="max-width: 300px" id="load_data_select" onclick="loadData(con=false)">
    <option value="day" selected>За этот день</option>
    <option value="month">За это месяц</option>
    <option value="year">За этот год</option>
    <option value="all">За все время</option>
    </select>

    <div style="overflow-x: scroll; border: 3px solid black; border-radius: 3px;">
        <div class="chart-container" id="chart-container" style="position: relative; width:1500px; height: 500px">
            <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" style="display: block; width: 100%; height: 100%;"></canvas>
        </div>
    </div>
</div>

<div>
    <h1>Последние данные</h1>
    <table class="table table-striped" id="lastdatatable"></table>
</div>

<div>
    <h1>Динамика изменения показаний датчиков</h1>
    <div style="overflow-y: scroll; border: 3px solid black; border-radius: 3px;">
        <div class="table-container" style="position: relative; width: 100%; height: 500px">
            <table class="table table-striped" id="datatable">
            </table>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='dashboard/feather.min.js') }}"></script>	
<script src="{{ url_for('static', filename='dashboard/Chart.min.js') }}"></script>	
<script src="{{ url_for('static', filename='dashboard/dashboard.js') }}"></script>	

{% endblock %}