{% extends "index.html" %}
{% block content %}

<h1>GreenHouse</h1>

<style>
    th.row_name {
        width: 100px
    }
    th.row_state {
        width: 200px
    }
    th.row_now_title {
        width: 200px
    }
    th.row_now {
        width: 100px
    }
    th.row_button {
        width: 200px
    }
</style>

<div style="overflow-x: scroll;">
    <div class="chart-container" id="chart-container" style="position: relative;">
        <table>
            <thead>
                <tr>
                    <th>Устройство</th>
                    <th>Статус</th>
                    <th>Пораметр</th>
                    <th>Значение</th>
                    <th>Управление</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="row_name">Форточка</th>
                    <th class="row_state" name="window_state">состояние</th>
                    <th class="row_now_title">Текущая температура </th>
                    <th class="row_now"> <p name="window_par"></p> </th>
                    <th class="row_button">
                        <button onclick="updateDevice('window')"
                            name="window" class="genric-btn primary" style="border-radius: 10px;">Форточка</button>
                    </th>
                </tr>
                <tr>
                    <th class="row_name">Система увлажнения</th>
                    <th class="row_state" name="humidification_state">состояная влажноять</th>
                    <th class="row_now_title">Влажность воздуха </th>
                    <th class="row_now"> <p name="humidification_par"></p> </th>
                    <th class="row_button">
                        <button onclick="updateDevice('humidification')"
                            name="humidification" class="genric-btn success circle ml-1">Увлажнение</button>
                    </th>
                </tr>
                <tr>
                    <th class="row_name">Бороздка 1</th>
                    <th class="row_state" name="watering_1_state">состояние</th>
                    <th class="row_now_title">Влажность бороздки </th>
                    <th class="row_now"> <p name="watering_1_par"></p> </th>
                    <th class="row_button">
                        <button onclick="updateDevice('watering_1')"
                                name="watering_1" class="genric-btn info-border circle">Бороздка</button>
                    </th>
                </tr>
                <tr>
                    <th class="row_name">Бороздка 2</th>
                    <th class="row_state" name="watering_2_state">состояние</th>
                    <th class="row_now_title">Влажность бороздки </th>
                    <th class="row_now"> <p name="watering_2_par"></p> </th>
                    <th class="row_button">
                        <button onclick="updateDevice('watering_2')"
                                name="watering_2" class="genric-btn info-border circle">Бороздка</button>
                    </th>
                </tr>
                <tr>
                    <th class="row_name">Бороздка 3</th>
                    <th class="row_state" name="watering_3_state">состояние</th>
                    <th class="row_now_title">Влажность бороздки </th>
                    <th class="row_now"> <p name="watering_3_par"></p> </th>
                    <th class="row_button">
                        <button onclick="updateDevice('watering_3')"
                                name="watering_3" class="genric-btn info-border circle">Бороздка</button>
                    </th>
                </tr>
                <tr>
                    <th class="row_name">Бороздка 4</th>
                    <th class="row_state" name="watering_4_state">состояние</th>
                    <th class="row_now_title">Влажность бороздки </th>
                    <th class="row_now"> <p name="watering_4_par"></p> </th>
                    <th class="row_button">
                        <button onclick="updateDevice('watering_4')"
                                name="watering_4" class="genric-btn info-border circle">Бороздка</button>
                    </th>
                </tr>
                <tr>
                    <th class="row_name">Бороздка 5</th>
                    <th class="row_state" name="watering_5_state">состояние</th>
                    <th class="row_now_title">Влажность бороздки </th>
                    <th class="row_now"> <p name="watering_5_par"></p> </th>
                    <th class="row_button">
                        <button onclick="updateDevice('watering_5')"
                                name="watering_5" class="genric-btn info-border circle">Бороздка</button>
                    </th>
                </tr>
                <tr>
                    <th class="row_name">Бороздка 6</th>
                    <th class="row_state" name="watering_6_state">состояние</th>
                    <th class="row_now_title">Влажность бороздки </th>
                    <th class="row_now"> <p name="watering_6_par"></p> </th>
                    <th class="row_button">
                        <button onclick="updateDevice('watering_6')"
                                name="watering_6" class="genric-btn info-border circle">Бороздка</button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="{{ url_for('static', filename='js/device.js') }}"></script>

{% endblock %}